### 데이터 읽기

In [2]:
import pandas as pd

# CSV 파일 경로 지정
call119_path = './call119_train.csv'
cat119_path = './cat119_train.csv'

# CSV 파일 읽기
call119_df = pd.read_csv(call119_path)
cat119_df = pd.read_csv(cat119_path)

In [3]:
# 데이터 확인
print("call119_train.csv")
display(call119_df.head())

call119_train.csv

,Unnamed: 0,call119_train.tm,call119_train.address_city,call119_train.address_gu,call119_train.sub_address,call119_train.stn,call119_train.ta_max,call119_train.ta_min,call119_train.ta_max_min,call119_train.hm_min,call119_train.hm_max,call119_train.ws_max,call119_train.ws_ins_max,call119_train.rn_day,call119_train.call_count
0,1,20200501,부산광역시,강서구,대저2동,904,23.7,16.6,7.1,63.2,90.3,5.8,10.6,0.0,1
1,2,20200501,부산광역시,강서구,천성동,921,24.3,15.4,8.9,64.2,96.4,4.8,8.6,0.0,1
2,3,20200501,부산광역시,금정구,금사동,940,25.6,17.2,8.4,46.6,76.4,4.8,8.3,0.0,1
3,4,20200501,부산광역시,금정구,금성동,941,25.3,17.1,8.2,-99.0,-99.0,7.1,9.7,0.0,1
4,5,20200501,부산광역시,금정구,남산동,939,26.5,16.7,9.8,-99.0,-99.0,5.7,8.1,0.0,3

In [4]:
print("cat119_train.csv")
display(cat119_df.head())

cat119_train.csv

,Unnamed: 0,cat119_train.tm,cat119_train.address_city,cat119_train.address_gu,cat119_train.sub_address,cat119_train.cat,cat119_train.sub_cat,cat119_train.stn,cat119_train.call_count
0,1,20200501,부산광역시,강서구,대저2동,구급,교통사고,904,1
1,2,20200501,부산광역시,강서구,천성동,구조,교통사고,921,1
2,3,20200501,부산광역시,금정구,금사동,구급,부상,940,1
3,4,20200501,부산광역시,금정구,금성동,기타,업무운행,941,1
4,5,20200501,부산광역시,금정구,남산동,구급,부상,939,1